/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2019, 11:51:07 AM
    Author     : Tanveer Qureshee
*/

.json_alert_message{
    display: none;
}
.title_section h2{
    font-size: 23px;
    line-height: 5px;
    color: #646464;
    letter-spacing: 2px;
}
.title_section a.create_new_style{
    margin: 1% 0;
}