/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2019, 11:51:07 AM
    Author     : Tanveer Qureshee
*/
.json_alert_message{
    display: none;
}
.title_section h2{
    font-size: 23px;
    line-height: 5px;
    color: #646464;
    letter-spacing: 2px;
}
.title_section a.create_new_style{
    margin: 1% 0;
}
span.sub_menu_text_design{
    display: inline-block !important;
    color: black;
    font-size: 14px !important;
    margin: 0 4%;
}
.sub_menu_text_nav_link{
    padding: 2% 5% !important;
}

.submenu_selector{
    background-color: red;
    width: 100% !important;
	color:#ffffff;
}
.complain_n_feedback_para{
    width: 100%;
    background: lightyellow;
    padding: 1% .5%;
}
table.complain_details_table_style tr td{
    color: white !important;
}
table.complain_details_table_style tr td > a{
    color: white !important;
}
table.complain_details_history_table_style tr > th{
    font-size: 13px;
}
table.complain_details_history_table_style tr > td{
    font-size: 13px;
}
table.complain_details_history_table_style tr th{
    text-align: center;
    background-color: lightgreen;
}
h2.list_second_heading_style{
    font-size: 15px;
}
.margin-fixing{
    margin: 0 0 1% 0;
}
footer.sticky-footer{
    height: 30px !important;
}
.export_section{
    color: black;
}
.export_section a{
    text-decoration: none;
}
img.export_style_icon{
    border: 1px solid lightgoldenrodyellow;
    width: 32px;
    margin: 0 .2%;
    padding: .5%;
}